---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
address: "0.0.0.0"
port: 10250
staticPodPath: {{ kube_config_dir }}/manifests
failSwapOn: false
cpuManagerPolicy: none
clusterDomain: cluster.local
systemReserved:
  cpu: "1"
  memory: "1Gi"
kubeReserved:
  cpu: "1"
  memory: "1Gi"
cgroupDriver: systemd
clusterDNS:
  - {{ dns_ip }}
readOnlyPort: 0
streamingConnectionIdleTimeout: "10m0s"
tlsCertFile: "{{ kube_config_dir }}/pki/kubelet-server.pem"
tlsPrivateKeyFile: "{{ kube_config_dir }}/pki/kubelet-server-key.pem"
tlsCipherSuites:
  - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
  - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
authentication:
  x509:
    clientCAFile: "{{ kube_config_dir }}/pki/ca.pem"
  anonymous:
    enabled: false