---
apiVersion: v1
kind: Secret
metadata:
  name: etcd-backup-secrets
  namespace: kube-system
data:
  etcd-ca: "{{ encoded_results | json_query('results[?certs_item==`ca.pem`].content') | first }}"
  etcd-cert: "{{ encoded_results | json_query('results[?certs_item==`client.pem`].content') | first }}"
  etcd-key: "{{ encoded_results | json_query('results[?certs_item==`client-key.pem`].content') | first }}"
type: Opaque