apiVersion: v1
clusters:
- name: cluster-ssl
  cluster:
    certificate-authority: {{ kube_config_dir }}/pki/ca.pem
    server: https://127.0.0.1:{{ apiserver_src_port }}


contexts:
- context:
    cluster: cluster-ssl
    user: admin_ssl
  name: admin@cluster-ssl
current-context: admin@cluster-ssl
kind: Config
users:
- name: admin_ssl
  user:
    client-certificate: {{ kube_config_dir }}/pki/admin.pem
    client-key: {{ kube_config_dir }}/pki/admin-key.pem

