apiVersion: v1
clusters:
- name: cluster-ssl
  cluster:
    certificate-authority: {{ kube_config_dir }}/pki/ca.pem
    {% if ip_mod_version == "ipv4" -%}
    server: https://{{ host_ip }}:{{ host_port }}
    {% elif ip_mod_version == "ipv6" %}
    server: https://[{{ host_ip }}]:{{ host_port }}
    {%- endif %}

contexts:
- context:
    cluster: cluster-ssl
    user: admin_ssl
  name: admin@cluster-ssl
current-context: admin@cluster-ssl
kind: Config
users:
- name: admin_ssl
  user:
    client-certificate: {{ kube_config_dir }}/pki/admin.pem
    client-key: {{ kube_config_dir }}/pki/admin-key.pem